.App {
  text-align: center;
  margin-top: 20px;
}

.app__form{
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
}

.app__formControl{ 
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
}

.app__input{
  flex: 1;
}

.app__iconButton{
flex: 0;
}

